@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root {
    --font-main: "Poppins", serif;
    --font-alt: "Red Rose", serif;

    --color-primary: #DDF2FD;
    --color-alt: #4AB2E6;
    --font-ink-main: #0B4968;
    --font-ink-alt: #FF9F00;
    --font-ink-head: #222222;

    --border-radius: 10px;
    --shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;

}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

section {
    padding: 65px 0px;
    /* padding for all individual section*/
}

@media (max-width : 720px) {
    section {
        padding: 50px 0px !important;
    }
}

/* ================utilities / buttons / others================ */
.container {
    width: min(1200px, 90vw);
    margin-inline: auto;
    padding-inline: 12px;
}

.display {
    display: inline-flex !important;
}

.btn {
    background-color: var(--color-alt);
    padding: 7px 12px;
    border-radius: var(--border-radius);
    color: white;
    transition: all 300ms ease;
    font-size: 16px !important;
}

.btn:hover {
    background-color: var(--font-ink-alt);
    color: var(--font-ink-main);
}



/* ================top-nav================  */
.top-nav {
    background-color: var(--color-alt);
    font-family: var(--font-alt) !important;
    height: 25px;
    padding: 0 !important;
    /* position: sticky; */
}

.top-bar,
.top-social,
.old-web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    height: 100%;
}

.top-bar {
    width: 90vw !important;
}

.top-social,
.old-web {
    gap: 15px;
}

.top-social img {
    height: 17px;
    display: block;
}

.old-web a {
    transition: color 300ms ease;
}

.old-web a:hover {
    color: var(--font-ink-alt);
}


/* ================navigation bar================ */
header {
    background-color: var(--color-primary);
    font-size: 15px;
    color: var(--font-ink-main);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: var(--shadow);
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-bar,
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    width: 90vw !important;
}

.nav {
    gap: 20px;
    font-weight: 600;
}

.nav a img {
    display: none;
}

.nav-bar img {
    height: 120px;
}

.nav-link:hover {
    color: var(--font-ink-alt);
}

.nav-link {
    transition: color 300ms ease;
}

.menu-btn {
    display: none;
    background-color: inherit;
    border: none;
    color: var(--font-ink-main);
    font-size: 30px;
    cursor: pointer;
}

/* ================media queries for top bars================ */
@media screen and (max-width : 1050px) {
    .nav a img {
        display: block;
    }

    .nav-bar img,
    .nav a img {
        height: 80px;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 290px;
        padding-top: 20px;
        top: 0;
        left: 0;
        /* z-index: 50; */
        background-color: var(--color-primary);
        height: 100vh;
        justify-content: start;
        gap: 7px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    }

    .nav .nav-link {
        /* background-color: #0B4968; */
        text-align: center;
        width: 100%;
        padding: 10px;
    }


    .menu-btn {
        display: block;
    }
}

@media screen and (max-width : 720px) {
    .top-social {
        display: none;
    }

    .top-bar {
        justify-content: flex-end;
    }

    .old-web,
    .nav {
        font-size: 12px;
    }

    .btn {
        font-size: 14px;
    }

    .nav-bar img,
    .nav a img {
        height: 60px;
    }
}

/* ================hero page================  */
.hero {
    background-color: var(--color-primary);
    color: var(--font-ink-main);
}

.hero-main {
    line-height: 1.1;
    margin: .25rem 0 1rem;
}

.hero h1 {
    font-size: clamp(30px, 3vw, 45px);
    margin: 0;
}

.date-badge {
    color: var(--font-ink-head);
}

.hero-sub,
.date-badge,
.timer {
    font-size: 16px;
    font-weight: 600;
}

.hero-tag {
    color: #E8A446;
    font-family: "Allura", cursive !important;
    font-weight: 400;
    font-style: normal;
}

.hero-btn {
    margin-top: 20px;
}

/* timer countdown  */
.countdown {
    max-width: px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: var(--font-ink-main);
    max-width: 300px;
    font-weight: 600;
    /* background-color: var(--color-alt);
    color: white;
    border-radius: 10px;
    box-shadow: var(--shadow); */
}

.part {
    text-align: center;
    padding: 5px;
}

/* ================live embeded section================ */
.live-embed {
    overflow: hidden;
    background: linear-gradient(135deg, #1a0a0f 0%, #2d1b26 50%, #1f0d1a 100%);
    /* min-height: 100vh; */
    position: relative;
}

.animation-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

.live-container {
    position: relative;
    /* background-color: var(--font-ink-main); */
    z-index: 5;
}

.live-container h2 {
    margin: 0px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--font-ink-alt);
    font-size: 28px;
}

/* grid of live embeds */
.live-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    /* background-color: #0B4968; */
}



@media (max-width : 1030px) {
    .live-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width : 520px) {
    .live-grid {
        grid-template-columns: 1fr;
    }
}

.live-card {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms linear;
}

.live-card:hover {
    transform: scale(1.02);
    box-shadow:
        0 0 20px rgba(255, 215, 0, 0.4),
        0 0 40px rgba(255, 215, 0, 0.4);
}

.live-img img,
.live-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-start-end-radius: var(--border-radius);
    border-start-start-radius: var(--border-radius);
}

.live-text p,
.live-text {
    padding-bottom: 1px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: var(--font-alt);
    color: var(--font-ink-main);
}

/* popup for live embeds */
.live-popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-display {
    display: flex !important;
}

.popup-container {
    min-width: 200px;
    padding: 15px;
    max-width: 900px;
    height: 360px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 16/9;
}

.popup-container iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.popup-close {
    color: white;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: -45px;
    right: 0;
}



/* ================about section================ */
.about {
    background-color: var(--color-primary);
    padding: 50px 0 !important;
}

.about-bb {
    display: grid;
    grid-template-areas: "abtxt bbimg";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 65px;
    justify-content: center;
    align-items: center;
}

.about-txt {
    grid-area: abtxt;

}

.about-txt h2 {
    margin-top: 0;
    font-size: 28px;
    color: var(--font-ink-main);
}

.about-txt p {
    font-size: 16px;
    color: var(--font-ink-head);
    line-height: 1.6;
    margin-top: 0;
}

.about-img {
    padding: 0;
    margin: 0;
    grid-area: bbimg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 100%;
}

/* responsiveness for about section */
@media (max-width : 1030px) {
    .about-bb {
        display: grid;
        grid-template-areas: "bbimg"
            "abtxt";
        grid-template-columns: 1fr;
        gap: 0px;
    }
}


/* ================counter-up section================ */
.counter-up-section {
    background: linear-gradient(90deg, #DDF2FD 0%, #90CAF9 100%);
}

.counter-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.counter img {
    height: 60px;
}

.counter {
    text-align: center;
    width: 210px;
    height: 210px;
    padding: 25px;
    line-height: 1.6;
    transition: all 300ms linear;
    border-radius: var(--border-radius);
    border: 1px solid rgb(0, 0, 0);
}

.counter:hover {
    transform: scale(1.03);
    box-shadow: var(--shadow);
    
}

.counter span {
    font-size: 12px;
    color: var(--font-ink-head);
}

.target {
    font-size: 25px;
    color: var(--font-ink-main);
    font-weight: 600;
}

.target::after {
    content: "+";
}