@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root {
    --font-main: "Poppins", serif;
    --font-alt: "Red Rose", serif;

    --color-primary: #DDF2FD;
    --color-alt: #4AB2E6;
    --font-ink-main: #0B4968;
    --font-ink-alt: #FF9F00;
    --font-ink-head: #222222;

    --border-radius: 10px;
    --shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;

}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

section {
    padding: 65px 0px;
    /* padding for all individual section*/
}

@media (max-width : 720px) {
    section {
        padding: 50px 0px !important;
    }
}

/* ================utilities / buttons / others================ */
.container {
    width: min(1200px, 90vw);
    margin-inline: auto;
    padding-inline: 12px;
}

.display {
    display: inline-flex !important;
}

.btn {
    background-color: var(--color-alt);
    padding: 7px 12px;
    border-radius: var(--border-radius);
    color: white;
    transition: all 300ms linear;
    font-size: 16px !important;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--font-ink-alt);
    color: var(--font-ink-main);
}





/* ================top-nav================  */
.top-nav {
    background-color: var(--color-alt);
    font-family: var(--font-alt) !important;
    height: 25px;
    padding: 0 !important;
    /* position: sticky; */
}

.top-bar,
.top-social,
.old-web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    height: 100%;
}

.top-bar {
    /* width: 90vw !important; */
}

.top-social,
.old-web {
    gap: 15px;
}

.top-social img {
    height: 17px;
    display: block;
}

.old-web a {
    transition: color 300ms ease;
}

.old-web a:hover {
    color: var(--font-ink-alt);
}


/* ================navigation bar================ */
header {
    background-color: var(--color-primary);
    font-size: 15px;
    color: var(--font-ink-main);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: var(--shadow);
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-bar,
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    /* width: 90vw !important; */
}

.nav {
    gap: 20px;
    font-weight: 600;
}

.nav a img {
    display: none;
}

.nav-bar img {
    height: 90px;
}

.nav-link:hover {
    color: var(--font-ink-alt);
}

.nav-link {
    transition: color 300ms ease;
}

.menu-btn {
    display: none;
    background-color: inherit;
    border: none;
    color: var(--font-ink-main);
    font-size: 30px;
    cursor: pointer;
}

/* ================media queries for top bars================ */
@media screen and (max-width : 1050px) {
    .nav a img {
        display: block;
    }

    .nav-bar img,
    .nav a img {
        height: 80px;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 290px;
        padding-top: 20px;
        top: 0;
        left: 0;
        /* z-index: 50; */
        background-color: var(--color-primary);
        height: 100vh;
        justify-content: start;
        gap: 7px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    }

    .nav .nav-link {
        /* background-color: #0B4968; */
        text-align: center;
        width: 100%;
        padding: 10px;
    }


    .menu-btn {
        display: block;
    }
}

@media screen and (max-width : 720px) {
    .top-social {
        display: none;
    }

    .top-bar {
        justify-content: flex-end;
    }

    .old-web,
    .nav {
        font-size: 12px;
    }

    .btn {
        font-size: 14px;
    }

    .nav-bar img,
    .nav a img {
        height: 60px;
    }
}

/* ================hero page================  */
.hero {
    background-color: var(--color-primary);
    color: var(--font-ink-main);
}

.hero-main {
    line-height: 1.1;
    margin: .25rem 0 1rem;
}

.hero h1 {
    font-size: clamp(30px, 3vw, 45px);
    margin: 0;
}

.date-badge {
    color: var(--font-ink-head);
}

.hero-sub,
.date-badge,
.timer {
    font-size: 16px;
    font-weight: 600;
}

.hero-tag {
    color: #E8A446;
    font-family: "Allura", cursive !important;
    font-weight: 400;
    font-style: normal;
}

.hero-btn {
    margin-top: 20px;
}

/* timer countdown  */
.countdown {
    max-width: px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: var(--font-ink-main);
    max-width: 300px;
    font-weight: 600;
    /* background-color: var(--color-alt);
    color: white;
    border-radius: 10px;
    box-shadow: var(--shadow); */
}

.part {
    text-align: center;
    padding: 5px;
}

/* ================live embeded section================ */
.live-embed {
    overflow: hidden;
    background: linear-gradient(135deg, #1a0a0f 0%, #2d1b26 50%, #1f0d1a 100%);
    /* min-height: 100vh; */
    position: relative;
}

.animation-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

.live-container {
    position: relative;
    /* background-color: var(--font-ink-main); */
    z-index: 5;
}

.live-container h2 {
    margin: 0px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--font-ink-alt);
    font-size: 28px;
}

/* grid of live embeds */
.live-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    /* background-color: #0B4968; */
}



@media (max-width : 1030px) {
    .live-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width : 520px) {
    .live-grid {
        grid-template-columns: 1fr;
    }
}

.live-card {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms linear;
}

.live-card:hover {
    transform: scale(1.02);
    box-shadow:
        0 0 20px rgba(255, 215, 0, 0.4),
        0 0 40px rgba(255, 215, 0, 0.4);
}

.live-img img,
.live-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-start-end-radius: var(--border-radius);
    border-start-start-radius: var(--border-radius);
}

.live-text p,
.live-text {
    padding-bottom: 1px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: var(--font-alt);
    color: var(--font-ink-main);
}

/* popup for live embeds */
.live-popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-display {
    display: flex !important;
}

.popup-container {
    min-width: 200px;
    padding: 15px;
    max-width: 900px;
    height: 360px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 16/9;
}

.popup-container iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.popup-close {
    color: white;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: -45px;
    right: 0;
}



/* ================about section================ */
.about {
    background-color: var(--color-primary);
    padding: 50px 0 !important;
}

.about-bb {
    display: grid;
    grid-template-areas: "abtxt bbimg";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 65px;
    justify-content: center;
    align-items: center;
}

.about-txt {
    grid-area: abtxt;

}

.about-txt h2 {
    margin-top: 0;
    font-size: 28px;
    color: var(--font-ink-main);
}

.about-txt p {
    font-size: 16px;
    color: var(--font-ink-head);
    line-height: 1.6;
    margin-top: 0;
}

.about-img {
    padding: 0;
    margin: 0;
    grid-area: bbimg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 100%;
}

/* responsiveness for about section */
@media (max-width : 1030px) {
    .about-bb {
        display: grid;
        grid-template-areas: "bbimg"
            "abtxt";
        grid-template-columns: 1fr;
        gap: 0px;
    }
}


/* ================counter-up section================ */
.counter-up-section {
    background: linear-gradient(90deg, #DDF2FD 0%, #90CAF9 100%);
}

.counter-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.counter img {
    height: 60px;
}

.counter {
    text-align: center;
    width: 210px;
    height: 210px;
    padding: 25px;
    line-height: 1.6;
    transition: all 300ms linear;
    border-radius: var(--border-radius);
    border: 1px solid rgb(255, 255, 255);
}

/* .counter:hover {
    transform: scale(1);
    box-shadow: var(--shadow);
    
} */

.counter span {
    font-size: 12px;
    color: var(--font-ink-head);
}

.target {
    font-size: 25px;
    color: var(--font-ink-main);
    font-weight: 600;
}

.target::after {
    content: "+";
}


/* ================speakers section from (DB)================ */
.speaker-section {
    background-color: var(--color-primary);
    text-align: center;
}

.speaker-section h2 {
    margin-top: 0;
    color: var(--font-ink-main);
    font-size: 28px;
}

.speacker-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #F8F1E6;
    border-radius: var(--border-radius);
    width: max-content;
    gap: 50px;
    padding: 10px;
    box-shadow: var(--shadow);
}

.speaker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.speaker-btn {
    font-family: var(--font-main);
    font-weight: 600;
    padding: 10px 7px;
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s cubic-bezier(.4, 0, .2, 1);
}

.speaker-btn::before {
    content: "";
    height: 3px;
    width: 0px;
    background-color: var(--font-ink-alt);
    display: inline-block;
    position: absolute;
    top: 33px;
    left: -1px;
    transition: width 0.3s cubic-bezier(.4, 0, .2, 1);
}

.speaker-btn:hover::before {
    width: 100%;
}

/* class to keep the one selected colored */
.active {
    color: var(--font-ink-alt);
}

.active::before {
    width: 100%;
}

/*to swap the section*/
.speakers-show {
    display: grid !important;
}

#all-speakers {
    width: 100%;
}

.grid-speakers {
    /* did this for hiding the other sections */
    width: 100%;
    display: none;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
}


.speaker-card {
    background-color: white;
    border-radius: var(--border-radius);
    margin: 0;
    padding: 0;
    transition: all 100ms linear;
    width: 100%;
    height: 100%;
}

.speaker-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 35px rgba(0, 0, 0, .2);
}

.speaker-img {
    width: 100%;
}

.speaker-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    aspect-ratio: 1/1;
    border-start-end-radius: var(--border-radius);
    border-start-start-radius: var(--border-radius);
}

.speaker-text p {
    font-size: 16px;
    margin: 0;
    padding: 3px;
    font-weight: 600;
    color: var(--font-ink-head);
}

/* responsive grid for speakers */
@media (max-width : 1180px) {
    .grid-speakers {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width : 1000px) {
    .grid-speakers {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width : 750px) {
    .grid-speakers {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
}

@media (max-width : 550px) {
    .grid-speakers {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width : 950px) {
    .speacker-navbar {
        flex-direction: column;
        gap: 0;
        margin-bottom: 55px;
        padding: 10px 50px;
    }
}

/* performance section in speakers section */
.performance-container {
    display: none;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.performance {
    padding: 10px 15px;
    background-color: white;
    border-radius: var(--border-radius);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.performance-st {
    grid-template-areas: "img txt";
}

.performance-rev {
    grid-template-areas: "txt img";
}

.performance-des {
    grid-area: txt;
    background-color: inherit;
    text-align: left;
    font-size: 16px;
    /* box-sizing: border-box; */
}

.performance-des p {
    margin: 10px 0px;
    line-height: 1.3;
}

.performance-des h2 {
    margin: 0;
    font-size: 24px;
}

.performance-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.performance-img img {
    /* aspect-ratio: 16/9; */
    /* object-fit: cover;
    object-position: center; */
    grid-area: img;
    width: 100%;
    border-radius: var(--border-radius);
}


@media (max-width : 720px) {
    .performance {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
    }

    .performance-st,
    .performance-rev {
        grid-template-areas: "img" "txt";
    }
}


/* ================event schedule section================ */
.event-schedule {
    background-color: var(--color-primary);
}

.event h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--font-ink-main);
    text-align: center;
}

.event-pdf{
     position: relative;
}

.event-pdf iframe {
    /* background-color: white; */
    width: 100%;
    height: 520px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.event-sc-btn{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    font-family: var(--font-main);
    margin-bottom: 10px;
}
         
.event-btn, .event-dw-btn{
    border: none;
    font-family: var(--font-main);
}

.event-btn:hover{
    background-color: var(--color-alt);
    color: white;
}

.active-btn{
    background-color: var(--font-ink-alt) !important;
}