@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

:root {
    --font-main: "Poppins", serif;
    --font-alt: "Red Rose", serif;

    --scroll-padding: 10px;
    /*default*/

    --color-primary: #DDF2FD;
    --color-alt: #4AB2E6;
    --color-alt2: #F8F1E6D9;
    --font-ink-main: #0B4968;
    --font-ink-alt: #FF9F00;
    --font-ink-head: #222222;

    --border-radius: 10px;
    --shadow: 0 10px 30px rgba(0, 0, 0, .2);
    --shadow-2: 0 6px 10px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-padding: var(--scroll-padding);
}

a {
    color: inherit;
    text-decoration: none;

}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

section {
    padding: 65px 0px;
    /* padding for all individual section*/
}

@media (max-width : 720px) {
    section {
        padding: 50px 0px !important;
    }
}

/* ================utilities / buttons / others================ */
.container {
    width: min(1200px, 90vw);
    margin-inline: auto;
    padding-inline: 12px;
}

.display {
    display: inline-flex !important;
}

.display-block{
    display: block !important;
}



.btn {
    background-color: var(--color-alt);
    padding: 7px 12px;
    border-radius: var(--border-radius);
    color: white;
    transition: all 300ms linear;
    font-size: 16px !important;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--font-ink-alt);
    color: var(--font-ink-main);
}

hr {
    margin: 0;
}

/* ================top-nav================  */
.top-nav {
    background-color: var(--color-alt);
    font-family: var(--font-alt) !important;
    height: 25px;
    padding: 0 !important;
    /* position: sticky; */
}

.top-bar,
.top-social,
.old-web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    height: 100%;
}

.top-bar {
    /* width: 90vw !important; */
}

.top-social,
.old-web {
    gap: 15px;
}

.top-social img {
    height: 17px;
    display: block;
}

.old-web a {
    transition: color 300ms ease;
}

.old-web a:hover {
    color: var(--font-ink-alt);
}


/* ================navigation bar================ */
header {
    background-color: var(--color-primary);
    font-size: 15px;
    color: var(--font-ink-main);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: var(--shadow);
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-bar,
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    /* width: 90vw !important; */
}

.nav {
    gap: 20px;
    font-weight: 600;
}

.nav a img {
    display: none;
}

.nav-bar img {
    height: 90px;
}

.nav-link:hover {
    color: var(--font-ink-alt);
}

.nav-link {
    transition: color 300ms ease;
}

.menu-btn {
    display: none;
    background-color: inherit;
    border: none;
    color: var(--font-ink-main);
    font-size: 30px;
    cursor: pointer;
}

.black-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

/* ================media queries for top bars================ */
@media screen and (max-width : 1050px) {
    .nav a img {
        display: block;
    }

    .nav-bar img,
    .nav a img {
        height: 80px;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 290px;
        padding-top: 20px;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: var(--color-primary);
        height: 100vh;
        justify-content: start;
        gap: 7px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    }

    .nav .nav-link {
        /* background-color: #0B4968; */
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    /* .black-overlay{
        display: block;
        
    } */


    .menu-btn {
        display: block;
    }
}

@media screen and (max-width : 720px) {
    .top-social {
        display: none;
    }

    .top-bar {
        justify-content: flex-end;
    }

    .old-web,
    .nav {
        font-size: 12px;
    }

    .btn {
        font-size: 14px;
    }

    .nav-bar img,
    .nav a img {
        height: 60px;
    }
}

/* ================hero page================  */
.hero {
    background-color: var(--color-primary);
    color: var(--font-ink-main);
}

.hero-main {
    line-height: 1.1;
    margin: .25rem 0 1rem;
}

.hero h1 {
    font-size: clamp(30px, 3vw, 45px);
    margin: 0;
}

.date-badge {
    color: var(--font-ink-head);
}

.hero-sub,
.date-badge,
.timer {
    font-size: 16px;
    font-weight: 600;
}

.hero-tag {
    color: #E8A446;
    font-family: "Allura", cursive !important;
    font-weight: 400;
    font-style: normal;
}

.hero-btn {
    margin-top: 20px;
}

/* timer countdown  */
.countdown {
    max-width: px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: var(--font-ink-main);
    max-width: 300px;
    font-weight: 600;
}

.part {
    text-align: center;
    padding: 5px;
}

/* ================live embeded section================ */
.live-embed {
    overflow: hidden;
    background: linear-gradient(135deg, #1a0a0f 0%, #2d1b26 50%, #1f0d1a 100%);
    position: relative;
}

.animation-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

.live-container {
    position: relative;
    z-index: 5;
}

.live-container h2 {
    margin: 0px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--font-ink-alt);
    font-size: 28px;
}

/* grid of live embeds */
.live-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, minmax(0,1fr)); */
    justify-content: center;
    gap: 30px;
}



@media (max-width : 1030px) {
    .live-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width : 520px) {
    .live-grid {
        grid-template-columns: 1fr;
    }
}

.live-card {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms linear;
}

.live-card:hover {
    transform: scale(1.02);
    box-shadow:
        0 0 20px rgba(255, 215, 0, 0.4),
        0 0 40px rgba(255, 215, 0, 0.4);
}

.live-img img,
.live-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-start-end-radius: var(--border-radius);
    border-start-start-radius: var(--border-radius);
}

.live-text p,
.live-text {
    padding-bottom: 1px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: var(--font-alt);
    color: var(--font-ink-main);
}

/* popup for live embeds */
.live-popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-display {
    display: flex !important;
}

.popup-container {
    min-width: 200px;
    padding: 15px;
    max-width: 900px;
    height: 360px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 16/9;
}

.popup-container iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.popup-close {
    color: white;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: -45px;
    right: 0;
}



/* ================about section================ */
.about {
    background-color: var(--color-primary);
    padding: 50px 0 !important;
}

.about-bb {
    display: grid;
    grid-template-areas: "abtxt bbimg";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 65px;
    justify-content: center;
    align-items: center;
}

.about-txt {
    grid-area: abtxt;

}

.about-txt h2 {
    margin-top: 0;
    font-size: 28px;
    color: var(--font-ink-main);
}

.about-txt p {
    font-size: 16px;
    color: var(--font-ink-head);
    line-height: 1.6;
    margin-top: 0;
}

.about-img {
    padding: 0;
    margin: 0;
    grid-area: bbimg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 100%;
}

/* responsiveness for about section */
@media (max-width : 1030px) {
    .about-bb {
        display: grid;
        grid-template-areas: "bbimg"
            "abtxt";
        grid-template-columns: 1fr;
        gap: 0px;
    }
}


/* ================counter-up section================ */
.counter-up-section {
    background: linear-gradient(90deg, #DDF2FD 0%, #90CAF9 100%);
}

.counter-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.counter img {
    height: 60px;
}

.counter {
    text-align: center;
    width: 210px;
    height: 210px;
    padding: 25px;
    line-height: 1.6;
    transition: all 300ms linear;
    border-radius: var(--border-radius);
    border: 1px solid rgb(255, 255, 255);
}

/* .counter:hover {
    transform: scale(1);
    box-shadow: var(--shadow);
    
} */

.counter span {
    font-size: 12px;
    color: var(--font-ink-head);
}

.target {
    font-size: 25px;
    color: var(--font-ink-main);
    font-weight: 600;
}

.target::after {
    content: "+";
}


/* ================speakers section from (DB)================ */
.speaker-section {
    background-color: var(--color-primary);
    text-align: center;
}

.speaker-section h2 {
    margin-top: 0;
    color: var(--font-ink-main);
    font-size: 28px;
}

.speacker-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #F8F1E6;
    border-radius: var(--border-radius);
    width: max-content;
    gap: 50px;
    padding: 10px;
    box-shadow: var(--shadow);
}

.speaker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.speaker-btn {
    font-family: var(--font-main);
    font-weight: 600;
    padding: 10px 7px;
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s cubic-bezier(.4, 0, .2, 1);
}

.speaker-btn::before {
    content: "";
    height: 3px;
    width: 0px;
    background-color: var(--font-ink-alt);
    display: inline-block;
    position: absolute;
    top: 33px;
    left: -1px;
    transition: width 0.3s cubic-bezier(.4, 0, .2, 1);
}

.speaker-btn:hover::before {
    width: 100%;
}

/* class to keep the one selected colored */
.active {
    color: var(--font-ink-alt);
}

.active::before {
    width: 100%;
}

/*to swap the section*/
.speakers-show {
    display: grid !important;
}

#all-speakers {
    width: 100%;
}

.grid-speakers {
    /* did this for hiding the other sections */
    width: 100%;
    display: none;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
}


.speaker-card {
    background-color: white;
    border-radius: var(--border-radius);
    margin: 0;
    padding: 0;
    transition: all 100ms linear;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow-2);
}

.speaker-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 35px rgba(0, 0, 0, .2);
}

.speaker-img {
    width: 100%;
}

.speaker-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    aspect-ratio: 1/1;
    border-start-end-radius: var(--border-radius);
    border-start-start-radius: var(--border-radius);
}

.speaker-text p {
    font-size: 16px;
    margin: 0;
    padding: 3px;
    font-weight: 600;
    color: var(--font-ink-head);
}

/* responsive grid for speakers */
@media (max-width : 1180px) {
    .grid-speakers {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width : 1000px) {
    .grid-speakers {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width : 750px) {
    .grid-speakers {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
}

@media (max-width : 550px) {
    .grid-speakers {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width : 950px) {
    .speacker-navbar {
        flex-direction: column;
        gap: 0;
        margin-bottom: 55px;
        padding: 10px 50px;
    }
}

/* performance section in speakers section */
.performance-container {
    display: none;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.performance {
    padding: 10px 15px;
    background-color: white;
    border-radius: var(--border-radius);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    box-shadow: var(--shadow-2);
}

.performance-st {
    grid-template-areas: "img txt";
}

.performance-rev {
    grid-template-areas: "txt img";
}

.performance-des {
    grid-area: txt;
    background-color: inherit;
    text-align: left;
    font-size: 16px;
    /* box-sizing: border-box; */
}

.performance-des p {
    margin: 10px 0px;
    line-height: 1.3;
}

.performance-des h2 {
    margin: 0;
    font-size: 24px;
}

.performance-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.performance-img img {
    /* aspect-ratio: 16/9; */
    /* object-fit: cover;
    object-position: center; */
    grid-area: img;
    width: 100%;
    border-radius: var(--border-radius);
}


@media (max-width : 720px) {
    .performance {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
    }

    .performance-st,
    .performance-rev {
        grid-template-areas: "img" "txt";
    }
}


/* ================event schedule section================ */
.event-schedule {
    background-color: var(--color-primary);
}

.event h2 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--font-ink-main);
    text-align: center;
}

.event-pdf {
    position: relative;
}

.event-pdf iframe {
    width: 100%;
    height: 520px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: opacity 0.5s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.event-sc-btn,
.event-sc-dw-btn {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    font-family: var(--font-main);
    margin-bottom: 10px;
}

.event-sc-dw-btn {
    margin: 0 !important;
}

.event-btn,
.event-dw-btn {
    border: none;
    font-family: var(--font-main);
}

.event-btn:hover {
    background-color: var(--color-alt);
    color: white;
}

.active-btn {
    background-color: var(--font-ink-alt) !important;
}

/* ================partners or sponsership section================ */
.partners {
    background-color: var(--color-primary);
}

.partners h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--font-ink-main);
    text-align: center;
}

.partners h3 {
    margin: 0;
    font-size: 19px;
    color: var(--font-ink-head);
    text-align: center;
    margin-top: 50px;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 210px));
    justify-content: center;
    /*used to center the row*/
    gap: 20px;
    padding: 10px;
}

.partners-grid-special {
    padding: 0 !important;
}

.partners-card {
    background-color: white;
    border-radius: 18px;
    padding: 16px 20px;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-2);
}

.partners-card-special {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 7px;
    width: 100%;
}

.grid-special {
    width: 100%;
    padding: 0;
}

.partners-grid img {
    max-height: 70px;
    display: block;
    object-fit: contain;
}

/* for bigger logo of title sponser */
.grid-title-partner {
    grid-template-columns: repeat(auto-fit, 300px) !important;
}

.grid-title-partner img {
    max-height: 200px;
    width: 100%;
}

/*for smaller logos on mobile screen */
@media (max-width : 550px) {

    .partners-grid,
    .grid-title-partner,
    .grid-special {
        grid-template-columns: 1fr !important;
    }

    .grid-special {
        padding: 10px;
    }

    .partner-card {
        padding: 14px 16px;
    }

    .partner-card img {
        max-height: 50px;
    }

    .grid-title-partner img {
        max-height: 150px;
    }
}


/* ================Archive for old edition of events================ */
.old-archives {
    background-color: var(--color-primary);
}

.old-archives h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--font-ink-main);
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery h3,
.video-gallary h3 {
    font-size: 19px;
    color: var(--font-ink-head);
    text-align: center;
}

.photo-galary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 100px;
}

.archive-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.photo-card {
    width: 100%;
    padding: 7px;
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-2);
    /* overflow: hidden; */
}

.photo-card img {
    border-radius: var(--border-radius);
    aspect-ratio: 4/3;
    width: auto;
    height: auto;
    /* max-height: 200px; */
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

/* force to 1 colums in smaller width */
@media (max-width : 1000px) {
    .photo-galary {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .photo-card img {
        max-height: 250px;
    }
}

@media (max-width : 550px) {
    .archive-grid {
        grid-template-columns: 1fr;
    }

    .photo-card img {
        max-height: 200px;
    }
}

/* video gallery in archive section */
.video-gallary {
    margin-top: 50px;
}

.video-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-iframe iframe {
    aspect-ratio: 16/9;
    height: 420px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

/* slider */
.playlist-slider {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Sliders Wrapper */
.sliders {
    display: flex;
    gap: 20px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
    background-color: white;
    padding: 15px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-2);
}

.sliders::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera - Hide scrollbar */
}

.play-card {
    background-color: white;
    padding: 7px;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    box-shadow: var(--shadow-2);
}

.play-card img {
    width: auto;
    height: auto;
    max-height: 120px;
    border-radius: inherit;
    transition: all 300ms ease;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.active-slide {
    background-color: var(--font-ink-alt);
}

.next,
.prev {
    background-color: white;
    font-size: 25px;
    color: var(--color-alt);
    border: 3px solid var(--color-alt);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease !important;
}

.next img,
.prev img {
    width: 100%;
}

.next img {
    transform: rotate(180deg);
}

.next:hover,
.prev:hover {
    background-color: var(--color-alt);
}

@media (max-width : 800px) {
    .video-iframe iframe {
        height: auto;
        width: 100%;
    }

    .next,
    .prev {
        display: none;
    }

    .play-card img {
        max-height: 100px;
    }
}



/* ================testimonials section================ */
.testimonials {
    background-color: var(--color-primary);
}

.test h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--font-ink-main);
    text-align: center;
}

.test-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
    /* height: 800px; */
}

.test-head {
    /* background-color: #0B4968; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 15px; */
    padding-left: 30px !important;
}

.test-head h1 {
    font-size: 30px;
    font-family: var(--font-alt);
    color: var(--font-ink-main);
    line-height: 1.6;
}

.test-cards {
    /* background-color: var(--color-alt); */
    position: relative;
    padding: 50px 30px;
    display: flex;
    /* justify-content: center; */
    gap: 55px;
    overflow: hidden;
}

.test-card {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    background-color: white;
    justify-content: space-around;
    padding: 30px 20px;
    border-radius: var(--border-radius);
    box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.25);
    transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.test-card:hover {
    box-shadow: var(--shadow-2);
}

.test-quote-image {
    position: absolute;
    border-radius: 50%;
    width: 55px;
    top: -25px;
    left: -25px;
    box-shadow: var(--shadow-2);
}

.test-author,
.test-text {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 20px;
    box-shadow: var(--shadow-2);
    border-radius: var(--border-radius);
}

.test-author .test-img {
    width: 90px;
    aspect-ratio: 1/1;
    background-color: #0B4968;
    border-radius: 50%;
}

.test-author .test-img img {
    width: 100%;
    border-radius: inherit;
    aspect-ratio: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-author .test-name p {
    padding: 0;
    font-size: 14px;
    text-align: center;
    color: var(--font-ink-head);
    font-weight: 600;
}

.test-text .test-heading h2 {
    font-size: 24px;
}

.test-text .test-paragraph p {
    font-size: 14px;
    text-align: center;
    color: var(--font-ink-head);
    padding: 0;
}


/* //slider down btn  */
.test-slide-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-btn {
    width: 10px;
    height: 10px;
    background-color: var(--font-ink-main);
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease;
}

.active-test {
    width: 20px !important;
    border-radius: 39%;
}

/* force the containers to shift for smaller screen */
@media (max-width : 920px) {
    .test-container {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .test-head h1 {
        line-height: 1;
        margin: 0;
    }

    .test-author,
    .test-text {
        padding: 5px 10px;
    }

    .test-card {
        gap: 15px;
    }

    .test-quote-image {
        width: 50px;
    }
}

@media (max-width : 620px) {
    .test-head h1 {
        line-height: 1;
        margin: 0;
    }

    .test-card {
        grid-template-columns: 1fr;
        padding: 10px;
        box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
    }

    .test-cards {
        padding: 30px 10px;
    }

    .test-quote-image {
        width: 45px;
        top: -10px;
        left: -10px;
    }
}


/* ================session section================  */
.session-section {
    background-color: var(--color-primary);
}

.session h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--font-ink-main);
    text-align: center;
}

.session-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 30px;
    padding: 15px;
    margin-top: 30px;
}

.session-card {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-2);
    transition: all 300ms linear;
}

.session-card:hover {
    box-shadow: var(--shadow);
}

.session-card img {
    width: 100%;
    border-radius: var(--border-radius);
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top center;
}

.session-text h3 {
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    color: var(--font-ink-main);
}

.session-text p {
    font-size: 16px;
    margin-top: 0;
    color: var(--font-ink-head);
}

@media (max-width : 1030px) {
    .session-grid {
        grid-template-columns: 1fr 1fr;
    }

    .session-text h3 {
        font-size: 20px;
    }

    .session-text p {
        font-size: 14px;
    }
}

@media (max-width : 520px) {
    .session-grid {
        grid-template-columns: 1fr;
    }
}


/* ================venue section================ */
.venue-section {
    background: url("/assets/images/venue-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.venue-section h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--font-ink-alt);
    text-align: center;
}

.venue-grid {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 35px;
    margin-top: 30px;
}

.venue-map {
    /* background-color: var(--color-alt2); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0px 50px;
    border-radius: var(--border-radius);
}

.map {
    width: 100%;
}

.venue-map .map iframe {
    width: 100%;
    height: 450px;
    border-radius: var(--border-radius);
}

.venue-btn {
    border-radius: 50px !important;
}

.venue-details {
    background-color: var(--color-alt2);
    border-radius: var(--border-radius);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* venue card */

.venue-details h3 {
    margin: 0;
    color: var(--font-ink-main);
    text-align: center;
    font-size: 24px;
}

.venue-icon {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.venue-icon img {
    width: 35px;
    height: 35px;
}

.venue-img {
    max-width: 100%;
}

.venue-img img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.venue-text p {
    font-size: 16px;
    text-align: center;
    color: var(--font-ink-head);
}

@media (max-width : 1100px) {
    .venue-grid {
        grid-template-columns: 1fr;
    }

    .venue-map {
        padding: 0px 25px;
    }
}

@media (max-width : 700px) {
    .venue-grid {
        grid-template-columns: 1fr;
    }

    .venue-map {
        padding: 0px 0px;
    }
}

@media (max-width : 550px) {
    .venue-details {
        padding: 15px;
    }

    .venue-map .map iframe {
        height: 400px;
    }
}

/* =======================meadia section======================= */
.media {
    background-color: var(--color-primary);
}

.media-container h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--font-ink-main);
    text-align: center;
}

.media-prev,
.media-next {
    background-color: white;
    border: 3px solid var(--color-alt);
    background-color: white;
    font-size: 25px;
    color: var(--color-alt);
    border: 3px solid var(--color-alt);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-prev img,
.media-next img {
    width: 100%;
}

.media-next img {
    transform: rotate(180deg);
}

/* card */

.media-slider {
    margin-top: 30px;
    overflow: hidden;
    width: 100%;
    display: flex;
}

.media-track {
    padding: 20px 0px;
    gap: 30px;
    display: flex;
    animation: scroll 10s infinite linear;
    padding-right: 30px;
}

.media-slider:hover .media-track {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.media-card {
    flex: 0 0 300px;
    display: block;
    min-width: 300px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-2);
    transition: all 300ms ease;
}

.media-card:hover {
    box-shadow: var(--shadow);
    transform: translateY(-10px);
}

.media-img img {
    min-width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.media-details {
    font-size: 16px;
    color: var(--font-ink-head);
    padding: 0px 10px 10px;
}

.media-link {
    font-weight: 200;
    font-size: 13px;
    color: gray;
    margin: 0;
    margin-top: 10px;
}

.media-des {
    margin: 10px 0px;
}

@media (max-width : 600px) {
    .media-card {
        min-width: 270px;
        flex: 0 0 270px;
    }
}

/* ================contact section================ */
.contact {
    background-color: var(--color-primary);
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-details,
.brand-logo,
.brand-social,
.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brand-details {
    gap: 20px;
}

.brand-details h3 {
    font-size: 20px;
    color: var(--font-ink-main);
    margin: 20px 0px 0px;
}

.brand-logo {
    width: 200px;
}

.brand-logo img {
    width: 100%;
}

.brand-social {
    flex-direction: row;
    gap: 15px;
}

.brand-social img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.brand-social a {
    padding: 0;
    margin: 0;
    transition: all 300ms ease;
}

.brand-social a:hover {
    transform: scale(1.1);
}

/* contact address */
.contact-details {
    text-align: start;
    gap: 15px;
    align-items: end;
}

.contact-details h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 28px;
    color: var(--font-ink-main);
    text-align: center;
}

.contact-details p,
.contact-details a {
    margin: 0;
    font-size: 16px;
    color: var(--font-ink-head);
    transition: all 300ms ease;
}

.contact-details p:hover,
.contact-details a:hover {
    color: var(--font-ink-alt);
}

/* ================footer of the page================ */
footer {
    padding: 30px 0px;
    background-color: var(--color-alt);
}

footer p {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

footer p a {
    color: var(--font-ink-main);
    transition: all 300ms ease;
}

footer p a:hover {
    color: var(--font-ink-alt);
}

/* forcing to wrap in the columsn for mobile display */
@media (max-width : 700px) {
    .contact-container {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .contact-details {
        align-items: center;
        gap: 10px;
    }

    .brand-details h3 {
        margin: 5px 0px 0px;
    }

    .brand-social img {
        width: 30px;
        height: 30px;
    }

    footer {
        padding: 20px 0px;
    }

    footer p {
        font-size: 14px;
    }
}